body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
}

.sidebar {
    flex: 1;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    max-width: 30%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    transition: margin 0.3s;
    overflow-y: auto;
    max-height: 100vh;
}

input[type="checkbox"] {
    display: none;
}

.toggle-btn {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* Définit le style de la sidebar par défaut sur les grands écrans */
@media screen and (min-width: 768px) {
    .sidebar {
        margin-left: 0;
    }

    input:checked + .container .sidebar {
        margin-left: -30%; /* Masque la sidebar en cochant la checkbox sur les grands écrans */
    }
}

/* Nouvelle règle pour afficher la sidebar sur les petits écrans */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column-reverse; /* Inverse l'ordre des éléments dans la colonne pour que la sidebar apparaisse en bas */
        overflow-x: hidden; /* Empêche le défilement horizontal sur les petits écrans */
        overflow-y: auto; /* Active le défilement vertical sur les petits écrans si nécessaire */
    }

    .sidebar {
        display: block; /* Affiche la sidebar par défaut sur les petits écrans */
        margin-left: 0; /* Ajuste la marge pour que la sidebar n'apparaisse pas par défaut sur les petits écrans */
    }

    input:checked + .container .sidebar {
        margin-left: 0; /* Ajuste la marge en cochant la checkbox pour montrer la sidebar sur les petits écrans */
    }
}

.sidebar h2 {
    color: #ecf0f1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #3498db;
}

.sidebar p {
    color: #bdc3c7;
}

.mobile-menu {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none; /* Masque le bouton sur les grands écrans */
}

/* Affiche le bouton sur les petits écrans */
@media screen and (max-width: 767px) {
    .mobile-menu {
        display: block;
    }
}

/* Ajoutez une classe pour montrer la sidebar sur mobile */
.show-sidebar {
    margin-left: 0;
    overflow-y: auto; /* Permet le défilement vertical dans la sidebar */
    max-height: 100vh; /* Hauteur maximale de la sidebar sur les petits écrans */
}


.content {
    flex: 2;
    background-color: #fff;
    padding: 20px;
}

h1, h2 {
    color: #3498db;
}

form {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    outline: none;
}

input:focus {
    border-color: #3498db;
}

button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}

p {
    margin-top: 15px;
    color: #333;
}

/* Nouvelle règle pour le bouton de menu sur mobile */
.mobile-menu {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none; /* Masque le bouton sur les grands écrans */
}

/* Affiche le bouton sur les petits écrans */
@media screen and (max-width: 767px) {
    .mobile-menu {
        display: block;
    }
}

/* Ajoutez une classe pour montrer la sidebar sur mobile */
.show-sidebar {
    margin-left: 0;
    overflow-y: auto; /* Permet le défilement vertical dans la sidebar */
    max-height: 100vh; /* Hauteur maximale de la sidebar sur les petits écrans */
}


.content {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
    height: 100vh; /* Ajuste la hauteur pour occuper toute la page */
}

/* Ajoutez ici vos règles CSS spécifiques pour le contenu d'exercice */
h1 {
    color: #3498db;
    text-align: center;
}

#exercice9,
#matrixExercise {
    margin-bottom: 40px; /* Ajoute un espace entre les exercices pour une meilleure lisibilité */
}

form {
    margin-top: 20px; /* Ajoute un espace entre le texte de l'exercice et le formulaire */
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Ajuste la taille du textarea pour inclure le padding */
    margin-bottom: 10px;
}

/* about.css */
#about {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, #2980B9, #6DD5FA); /* Dégradé linéaire bleu */
    color: #fff; /* Texte en blanc sur fond bleu */
}

#about h2 {
    color: #fff; /* Titre en blanc */
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#about li {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

#about li::before {
    content: '\2022';
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 0;
}
