{% extends 'base.html' %} {% block title %}Exercice 9{% endblock %} {% block
header %}Exercice 9: Calcul de 𝑛!{% endblock %} {% block content %}
<section id="exercice9">
  <p>Ecrire un algorithme qui calcule 𝑛! où 𝑛 est fourni par l'utilisateur.</p>
  <!-- Ajoutez ici le formulaire pour entrer la valeur de n et afficher le résultat -->
  <form id="factorialForm">
    <label for="numberInput">Entrez la valeur de n:</label>
    <input type="number" id="numberInput" required />
    <button type="button" onclick="calculateFactorial()">Calculer 𝑛!</button>
    <p id="result"></p>
  </form>
</section>
{% endblock %}
